<div class="container flex min-w-full ">
  <!--
  <div class="hidden lg:block flex-col">
  </div>
  -->
  
  <div class="grow w-full">
    <%= render 'pages/shared/sidebar' %>
    <%= render 'pages/shared/navbar' %>
    <%= render 'pages/shared/card' %>
  </div>

</div>
