<div class=" container flex min-w-full ">
  <div class="hidden lg:block flex-col">
    <%= render 'pages/shared/sidebar' %>
  </div>


  <div class="flex-grow">
    <%= render 'pages/shared/navbar' %>

    <%= render "pages/shared/card" %>

  </div>
</div>
